@use '../variables/mixins' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 0 4rem 0;

  @include mq(tablet) {
    padding: 6.4rem 0 4.7rem 0;
  }

  @include mq(laptop) {
    padding: 6.4rem 0 5.4rem 0;
  }

  &-nav {
    display: none;

    @include mq(tablet) {
      display: block;
    }

    &-list {
      display: flex;
      gap: 4.2rem;
    }
  }

  &-menu {
    position: relative;

    @include mq(tablet) {
      display: none;
    }
  }

  &-close {
    width: 1.8rem;
    height: 1.9rem;
  }
}

.nav {
  position: absolute;
  top: 4rem;
  right: 0;
  z-index: 2;

  &-list {
    padding: 4rem 6.3rem 4rem 6.5rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    background-color: #33323D;
    text-align: center;

    li {
      width: 10rem;
    }
  }
}